@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3 {
  font-family: var(--font-cinzel), sans-serif;
}
.tab-design {
  transition-timing-function: linear !important;
  mask-image:
    radial-gradient(circle at left, transparent 0%, white 20%),
    radial-gradient(circle at right, transparent 0%, white 20%);
  -webkit-mask-image:
    radial-gradient(circle at left, transparent 0%, white 20%),
    radial-gradient(circle at right, transparent 0%, white 20%);
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.no-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.no-scrollbar:hover::-webkit-scrollbar {
  display: block;
}
.no-scrollbar::-webkit-scrollbar-thumb {
  width: 2px;
  background-color: #6d6c6c;
  border-radius: 50px;
}
.no-scrollbar::-webkit-scrollbar-track {
  width: 2px;
  background-color: #424242;
  border-radius: 50px;
}
@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #424242;
    border-right-color: #bf9b30;
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid #424242;
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-multi-select .dropdown-container {
  background-color: #212428 !important; /* light black */
  color: white !important;
  font-size: 14px !important;
  border: none !important;
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
}

.custom-multi-select .dropdown-content {
  background-color: #212428 !important;
  color: white !important;
}

.custom-multi-select .options {
  background-color: #212428 !important;
  color: white !important;
  font-size: 14px !important;
}
.custom-multi-select .options .select-item:hover {
  background: white !important;
  color: #212428 !important;
}
.custom-multi-select .options .select-item.selected {
  background: white !important;
  color: #212428 !important;
}

.custom-multi-select .multi-select__multi-value {
  background-color: #212428 !important; /* Selected pill */
  color: white !important;
}

.custom-multi-select .multi-select__multi-value__label {
  color: white !important;
}

.custom-multi-select .multi-select__multi-value__remove {
  background-color: transparent !important;
  color: white !important;
}

.custom-multi-select .multi-select__multi-value__remove:hover {
  background-color: #ef4444 !important; /* Red on hover */
  color: white !important;
}

.custom-multi-select .dropdown-content .option:hover {
  background-color: white !important;
  color: black !important;
}
.custom-multi-select .dropdown-content .search {
  color: #212428 !important;
}
.rmsc * {
  transition: none !important;
}
