@tailwind base;
@tailwind components;
@tailwind utilities;

/* .azaz {
  background-image: linear-gradient(to right, #086647, #21bf5d);
  padding: 10px 24px;
  border-radius: 6px;
  font-weight: 700;
  text-transform: capitalize;
  width: fit-content;
} */
.no-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.no-scrollbar:hover::-webkit-scrollbar {
  display: block;
}
.no-scrollbar::-webkit-scrollbar-thumb {
  width: 2px;
  background-color: #6d6c6c;
  border-radius: 50px;
}
.no-scrollbar::-webkit-scrollbar-track {
  width: 2px;
  background-color: #424242;
  border-radius: 50px;
}
