@tailwind base;
@tailwind components;
@tailwind utilities;

.tab-design {
  transition-timing-function: linear !important;
  mask-image:
    radial-gradient(circle at left, transparent 0%, white 20%),
    radial-gradient(circle at right, transparent 0%, white 20%);
  -webkit-mask-image:
    radial-gradient(circle at left, transparent 0%, white 20%),
    radial-gradient(circle at right, transparent 0%, white 20%);
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.no-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.no-scrollbar:hover::-webkit-scrollbar {
  display: block;
}
.no-scrollbar::-webkit-scrollbar-thumb {
  width: 2px;
  background-color: #6d6c6c;
  border-radius: 50px;
}
.no-scrollbar::-webkit-scrollbar-track {
  width: 2px;
  background-color: #424242;
  border-radius: 50px;
}
@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #424242;
    border-right-color: #bf9b30;
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid #424242;
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}
